@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); */

/* * {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
} */



.wrapper {
    /* background-color: red; */
    /* width: 100%; */

    max-width: 512px;
	margin: 0 auto;
	padding: 64px 24px;
}

/* .section {
	padding-bottom: 48px;
	margin-bottom: 48px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
} */

/* .section:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  } */

/* .me {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	margin-bottom: 12px;
} */

/* h6 {
	font-weight: 600;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
	margin-bottom: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
} */

/* p {
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.8);
} */
/* ul li {
	margin-bottom: 32px;
}
ul li:last-of-type {
	margin-bottom: 0;
} */

/* h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* color: #000000; */
	/* margin-bottom: 6px; */
/* }  */

/* a {
	color: inherit;
}
a:hover {
	text-decoration: underline;
	color: rgb(245,7,108);
} */

/* .link-list li {
  margin-bottom: 12px;
} */

/* .link-list-item {
  margin-bottom: 16px;
} */



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .wrapper {
        /* margin-left: 15%;
        margin-right: 15%; */

		max-width: none;
    }

	.collection-cards .collection-card #collection-hero .collection-hero-inner {
		background-position-x: 50%;
	  }
  }

  @media (min-width:1025px) {
	  .wrapper {

		  max-width: 1024px;
	  }
  }